<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
        <bean id="ds1" class="com.taobao.terminator.common.data.TerminatorDataSource">
                <property name="name" value="ds1" />
                <property name="path" value="$confPath/ds.xml" />
        </bean>
	    
	    <bean id="last3Month" class="com.taobao.terminator.common.data.sql.LastNdaysSqlFunction" init-method="init">
                <property name="n" value="90" />
        </bean>

		<bean id="funcList" class="java.lang.ArrayList">
			<constructor-arg>
				<list>
					<ref>last3Month</ref>
				</list>
			</constructor-arg>
		</bean>
        <bean id="fullDataProvider" class="com.taobao.terminator.common.data.MultiTableDataProvider" init-method="init">
                <property name="subtableDesc" value="ds1:0-63" />
                <property name="sql">
                        <value>
                        <![CDATA[ 
                                SELECT 
                                id ,type as album_id , 
                                status ,
                                inform_num , 
                                opt_id , 
                                opt_nick , 
                                user_id , 
                                user_nick ,
                                file_path , 
                                '' as tags , 
                                memo , 
                                0 as  via_type ,
                                gmt_create as gmt_created , 
                                gmt_modified 
                        FROM 
                                picture_base$tablename$
                                 ]]>
                        </value>
                </property>
        </bean>

        <bean id="incrDataProvider" class="com.taobao.terminator.common.data.MultiTableDataProvider" init-method="init">
                <property name="subtableDesc" value="ds1:0-63" />
                <property name="sql">
                        <value>
                        <![CDATA[ 
                        SELECT 
                                id ,type as album_id , 
                                status ,
                                inform_num , 
                                opt_id , 
                                opt_nick , 
                                user_id , 
                                user_nick ,
                                file_path , 
                                '' as tags , 
                                memo , 
                                0 as  via_type ,
                                gmt_create as gmt_created , 
                                gmt_modified 
                        FROM 
                                picture_base$tablename$
                        WHERE
                                gmt_modified >= '$startDate$' 
                        AND 
                                gmt_modified <= '$endDate$'
                                 ]]>
                        </value>
                </property>
        </bean>

        <bean id="dataProcessor" class="com.taobao.terminator.common.data.processor.DateFormater" init-method="init">
                <property name="formats">
                        <map>
                                <entry>
                                	<key><value>gmt_created</value></key>
                                	<value><![CDATA[yyyy-MM-dd hh:mm:ss -> yyyyMMdd]]></value>  
                                </entry>
                                <entry>
                               		<key><value>gmt_modified</value></key>
                                	<value><![CDATA[yyyy-MM-dd hh:mm:ss -> yyyyMMdd]]></value>  
                                </entry>
                        </map>
                </property>
        </bean>
</beans>